/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* ------------------------------------------------ */
/* HEADER */
.header {
    height: 8%;
    background-color: red;
}

.cabecalho {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 45px;
    margin: 5px 50px;
}

.logo img {
    border-radius: 50%;
    width: 100%;
}

.btn-carrinho {
    border: 1px solid yellow;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 50px;
}

.bi-cart3 {
    color: yellow;
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px;
}

/* ------------------------------------------------ */
/* VITRINE */
main {
    padding: 20px 3%;
}

.vitrine {
    height: 92%;
    padding: 5px;

    position: relative;
}

.apagar.none {
    display: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 20px;
}

.card-produto {
    height: 300px;
    width: 100%;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-produto {
    width: 200px;
}

.img-produto img {
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
    object-fit: cover;
    object-position: center;
}

.sabor {
    font-size: 1.1em;
    margin-bottom: 5px;
    text-align: center;
}

.cifrao {
    text-align: center;
    margin-bottom: 5px;
}

.button {
    text-align: center;
    padding: 5px;
}

.btn {
    background-color: red;
    color: yellow;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(228, 3, 3);
    color: rgb(224, 224, 4);
}

/* ------------------------------------------------ */
/* CARRINHO */
.carrinho {
    width: 100%;
    opacity: 0;

    position: absolute;
    top: -3%;
    right: -100vw;
    background-color: #fff;
    transition: .5s ease;
    padding-right: 4px;
}

.carrinho.active {
    top: -3%;
    right: 0;
    opacity: 1;
}

.texto-carrinho {
    text-align: center;
    color: rgb(226, 4, 4);
    text-shadow: 0 0 1px #000;
}

table {
    width: 100%;
}

table,
thead,
tbody,
tfoot,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: red;
    color: yellow;
}

th,
td {
    padding: 5px;
}

.dados-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-carrinho {
    width: 150px;
}

.quantidade-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.mais,
.menos {
    height: 20px;
    width: 20px;
    font-weight: 500;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: yellow;
    cursor: pointer;
}

.mais:hover,
.menos:hover {
    background-color: rgb(224, 2, 2);
    color: rgb(233, 233, 3);
}

.caixa-quantidade {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-total {
    font-weight: 600;
}

.finalizar-compra {
    text-align: center;
    margin-top: 5px;
}

.btn-finalizar-compra {
    background-color: red;
    color: yellow;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-finalizar-compra:hover {
    background-color: rgb(224, 2, 2);
    color: rgb(233, 233, 3);
}

/* ------------------------------------------------ */
/* Tablet */
@media (max-width: 900px) {
    .logo {
        width: 60px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .carrinho {
        top: 0;
    }

    .carrinho.active {
        top: 0;
    }

    .img-carrinho {
        width: 100px;
    }
}

/* ------------------------------------------------ */
/* Mobile */
@media (max-width: 664px) {

    /* HEADER */
    .logo {
        width: 45px;
    }

    /* ------------------------------------------------ */
    /* VITRINE */
    .cards {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-produto {
        width: 90%;
        height: auto;
    }

    .img-produto {
        width: 100%;
    }

    .img-produto img {
        border-radius: 5px 5px 0 0;
    }

    /* ------------------------------------------------ */
    /* CARRINHO */
    .carrinho {
        width: 100%;
        top: 0;
        right: -100vw;
        padding: inherit;
    }

    .carrinho.active {
        top: 0;
        right: 0;
        opacity: 1;
    }

    .dados-carrinho {
        flex-direction: column;
    }

    .img-carrinho {
        width: 50px;
        margin-bottom: 3px;
    }

    .quantidade-carrinho {
        width: 100%;
    }
}