.form {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form form {
   width: 500px;
}

.form fieldset {
   padding: 10px;
   border-radius: 4px;
}

.form legend {
   padding: 5px;
}

.form .label {
   margin-top: 20px;
}

.input {
   position: relative;
}

.input input {
   width: 100%;
}

.erro {
   font-size: .8em;
   color: red;
}

.toggle {
   position: absolute;
   left: 50%;

   cursor: pointer;
   color: blueviolet;
}

.form input[type='submit'] {
   display: block;
   margin-top: 20px;
}