.nav {
   width: 100%;
   padding: 5px;
   margin-bottom: 2%;
   border-bottom: 2px solid orangered;
   padding: 10px;
   text-align: center;
}

.nav a {
   text-decoration: none;
   color: black;
   margin-right: 30px;
   position: relative;
   padding: 3px;
}

.nav a::after {
   content: '';
   height: 2px;
   width: 0;
   background-color: #ff0000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s ease-in;
}

.nav a:hover::after {
   width: 100%;
}